body {
  text-align: left;
  font-family: sans-serif;
  font-weight: 100;
}

.bookmark {
  margin-top: 45px;
  padding: auto 5px;
}

.info {
  font-size: 15px;
  color: #0f1126;
  font-weight: bold;
}

.title {
  font-size: 15px;
  color: #0f1126;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 15px;
  overflow: hidden;
}

.url {
  font-size: 12px;
  color: #0f1126;
  font-style: italic;
  padding-top: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
}
