body{
  text-align: left;
  font-family: sans-serif;
  font-weight: 100;
}

.speechFoxy {
  margin-bottom: 5px;
}

.explainFont {
  font-size: 15px;
  color: #0F1126;
  font-weight: bold;
  display: block;
}

.explainMoreFont {
  font-size: 12px;
  color: #0F1126;
  font-weight: normal;
}

.confusedspeechtext {
  padding-top: 8px;
  font-size: 12px;
  font-style: italic;
  color: #ff0039;
  text-overflow:ellipsis;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
  display: inline-block;
}

.searchFont {
  display: inline;
  font-size: 12px;
  font-style: italic;
  color: #0F1126;
  padding-right: 15px;
}
