body {
  text-align: left;
  font-family: sans-serif;
  font-weight: 100;
}

.addListFont {
  font-size: 12px;
  color: #0f1126;
  font-weight: bold;
  display: block;
}

.pocketTitleFont {
  font-size: 15px;
  color: #0f1126;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 15px;
  overflow: hidden;
}

.pocketSourceFont {
  font-size: 12px;
  color: #0f1126;
  display: block;
  font-style: italic;
  padding-top: 5px;
}

.pocketListDivClass {
  padding-left: 5px;
  padding-top: 23px;
}
