body {
  text-align: left;
  font-family: sans-serif;
  font-weight: 100;
}

.addListFont {
  font-size: 12px;
  color: #0F1126;
  font-weight: bold;
  display: block;
}

.pocketTitleFont {
  font-size: 15px;
  color: #0F1126;
  display: block;
  padding-top: 5px;
  padding-right: 15px;
}

.pocketSourceFont {
  font-size: 12px;
  color: #0F1126;
  display: block;
  font-style: italic;
  padding-top: 5px;
}

.pocketListDivClass {
  padding-left: 5px;
}
