body{
  text-align: left;
  font-family: -apple-system, sans-serif;
  margin: 0px;
  margin-top: 25px;
}

h1{
  color: black;
  font-size: 15px;
  margin: 0;
}

.cityfont {
  font-size: 15px;
  color: #0F1126;
  font-weight: bold;
}

.currtempfont {
  font-size: 56px;
  color: #0F1126;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: top;
}

.degreesFont {
  font-size: 11px;
  color: #0F1126;
  position: absolute;
  top: 71px;
  display: inline-block;
  margin-left: 2px;
}

.highlowtempfont {
  font-size: 12px;
  color: #0F1126;
}

.descriptionfont {
  font-size: 12px;
  color: #0F1126;
}

.weatherDescDiv {
  margin-top: -3px;
  padding-left: 28px;
}
.weatheralign,
.subweatherdivclass,
.highlowdivclass,
.weatherDescDiv {
  display: block;
  padding-left: 35px;
}
