html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
}

body {
  height: 90%;
  background-color: #FFFFFF;
  overflow: scroll;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
}
p {
  margin: 1em 2em;
}

div#toolbar {
  width: 100%;
  margin-bottom: 2px;
}

#clear_button {
  width: 30px;
  height: 30px;
  background-image: url('resources/trashcan.png');
  background-size: cover;
}

#mute_button {
  width: 30px;
  height: 30px;
  background-image: url('resources/mute.png');
  background-size: cover;
}

.confusedcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 120px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.pocketcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 130px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.nprcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 140px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.spotifycardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 120px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.timercardiv {
  background-color: #FFFFFF;
  width: 275px;
  /* height: 120px; */
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.weathercardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 150px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.iotcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 209px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.feedbackcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 80px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.speechtext {
  padding-top: 2px;
  font-size: 10px;
  font-style: italic;
  color: #808080;
  margin-left: 5px;
  vertical-align: text-top;
}

.iotSpeechtext {
  padding-top: 2px;
  font-size: 10px;
  font-style: italic;
  color: #808080;
  margin-left: 5px;
}

.panel-item {
  position: relative;
  background-color: #FFFFFF;
  margin: 2px;
  margin-top: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
  width: 275px;
}
.panel-item-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 8px 6px 4px 8px;
  display: flex;
  flex-direction: row;
}
.panel-item-frame {
  position: relative;
  width: 100%;
  height: 100%;
}
.panel-item-thumb {
  height: 16px;
  width: 16px;
  display: inline-block;
  overflow: hidden;
  margin-right: 6px;
  flex: 0 0 auto;
}
.panel-item-thumb img {
  max-width: 100%;
}
.panel-item-close {
  margin-left: auto;
  opacity: 0.5;
}
.panel-item-close:hover {
  opacity: 1;
}