html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
}

body {
  height: 90%;
  background-color: #FFFFFF;
  overflow: scroll;
  padding: 0 10px;
}

* {
  box-sizing: border-box;
}
p {
  margin: 1em 2em;
}

div#toolbar {
  width: 100%;
  height: 54px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  border-bottom: 1px solid #989898;
  padding-top: 9px;
  padding-bottom: 9px;
}

#mute_button {
  width: 30px;
  height: 30px;
  background-image: url('resources/listening.svg');
  background-size: cover;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  margin-left: 1px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 11px;
  color: #0037b6;
  transition: 0.2s;
  cursor: pointer;
}

.astext:hover {
  color: #0095ff;
}

.helpcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 280px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.screenshotdiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 120px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.confusedcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 120px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.pocketcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 100px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.nprcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 140px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.spotifycardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 125px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.timercardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 160px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.weathercardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 150px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.iotcardiv,
.iotcardiv-off {
  background-color: #FFFFFF;
  width: 275px;
  height: 209px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.feedbackcardiv {
  background-color: #FFFFFF;
  width: 275px;
  height: 80px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
}

.protipcardiv{
  height: 97px;
  background-color: #fffcd9!important;
}

.protip-bold{
  font-weight: 800;
  font-style: normal!important;
  color: #000!important;
  font-size: 11px!important;
}

.speechtext {
  padding-top: 2px;
  font-size: 10px;
  font-style: italic;
  color: #808080;
  margin-left: 5px;
  vertical-align: text-top;
}

.iotSpeechtext {
  padding-top: 2px;
  font-size: 10px;
  font-style: italic;
  color: #808080;
  margin-left: 5px;
}

.panel-item {
  position: relative;
  background-color: #FFFFFF;
  margin: 2px;
  margin-top: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
  width: 275px;
}
.panel-item-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 8px 6px 4px 8px;
  display: flex;
  flex-direction: row;
}
.panel-item-frame {
  position: relative;
  width: 100%;
  height: 100%;
}
.panel-item-thumb {
  height: 16px;
  width: 16px;
  display: inline-block;
  overflow: hidden;
  margin-right: 6px;
  flex: 0 0 auto;
}
.panel-item-thumb img {
  max-width: 100%;
}
.panel-item-close {
  margin-left: auto;
  opacity: 0.5;
}
.panel-item-close:hover {
  opacity: 1;
}

#microphone {
  object-fit: contain;
  height: 35px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
}