html,
body {
  height: 100%;
}

html {
  overflow-y: hidden;
}

body {
  margin: 0;
}

.graphicLightDiv {
  text-align: center;
  background-image: url("resources/sunburst.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 30px;
}

.graphicLightDiv--off {
  background-image: none;
  background-color: #fff;
}

.lightOn {
  margin: auto;
  display: block;
}

.roomFont {
  font-size: 15px;
  color: #0f1126;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
  margin-top: 8px;
}
