body,
html{
  height: 100%;
  margin: 0;
  font-family: -apple-system, sans-serif;
  font-size: 12px;
}

.proTip{
 margin: 27px 0 0 35px;
 line-height: 1.4;
}

.proTip span{
  display: block;
}

.italic{
  font-style: italic;
  color: #ffb13d;
}